<header id="Area__Header">
    <div class="Inner">
        <div class="Upper">
            <div class="Inner">
                <ul class="List List__Navigation">
                    <li><a href="#">スタジオスクウェアとは</a></li>
                    <li><a href="#">360°VR掲載プラン</a></li>
                    <li><a href="#">よくある質問</a></li>
                    <li><a href="#">お問い合わせ</a></li>
                    <li><a href="#">広告掲載希望の方</a></li>
                </ul>
            </div>
        </div>
        <div class="Bottom">
            <div class="Inner">
                <h1 class="Item__Logo"><a href="#"></a></h1>
                <ul class="List List__Navigation">
                    <li><a href="#">キーワードで探す</a></li>
                    <li><a href="#">ジャンルで探す</a></li>
                    <li><a href="#">エリアで探す</a></li>
                    <li><a href="#">こだわりで探す</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>